/* line 1, ../../sass/all/_reset.scss */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
}

/* line 7, ../../sass/all/_reset.scss */
ul, ol {
  list-style: none;
}

/* line 11, ../../sass/all/_reset.scss */
a {
  text-decoration: none;
}

@media all and (max-width: 800px) {
  /* line 2, ../../sass/media.scss */
  .container {
    justify-content: space-around;
  }

  /* line 6, ../../sass/media.scss */
  .menu {
    justify-content: center;
  }

  /* line 10, ../../sass/media.scss */
  form {
    width: 30%;
  }
}
@media all and (max-width: 600px) {
  /* line 16, ../../sass/media.scss */
  .container {
    flex-flow: column wrap;
    margin-top: 200px;
  }
  /* line 19, ../../sass/media.scss */
  .container .item {
    margin-bottom: 5px;
  }

  /* line 24, ../../sass/media.scss */
  .menu {
    flex-flow: column wrap;
    padding: 0;
  }
  /* line 28, ../../sass/media.scss */
  .menu a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  /* line 35, ../../sass/media.scss */
  .menu li:last-of-type a {
    border-bottom: none;
  }

  /* line 41, ../../sass/media.scss */
  form {
    width: 20%;
  }
}
/* line 2, ../../sass/all/_nav.scss */
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

/* line 9, ../../sass/all/_nav.scss */
.menu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none;
  background: #27CFC3;
  flex-flow: row wrap;
  justify-content: center;
  font-weight: bolder;
}
/* line 17, ../../sass/all/_nav.scss */
.menu a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  font-size: 1em;
}
/* line 24, ../../sass/all/_nav.scss */
.menu a:hover {
  background: #25c2b7;
}

/* line 2, ../../sass/all/_form.scss */
form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  width: 40%;
  padding: 10px 15px;
}
/* line 8, ../../sass/all/_form.scss */
form label {
  display: block;
  padding: 10px 10px 5px 15px;
  font-size: 12px;
  color: #777;
}
/* line 15, ../../sass/all/_form.scss */
form input {
  display: block;
  width: 85%;
  font-size: 16px;
  font-color: #333;
  background: #fff;
  padding: 5px;
  margin: 5px 10px 10px 15px;
  border-radius: 3px;
  border: 1px solid silver;
  box-shadow: 0px 0px 4px #e8e6d9 inset;
}
/* line 27, ../../sass/all/_form.scss */
form input:focus {
  transition: border linear .2s,box-shadow linear .5s;
  border-color: rgba(39, 207, 195, 0.75);
  box-shadow: 0 0 15px rgba(39, 207, 195, 0.5);
}

/* line 4, ../../sass/all/_layout.scss */
.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3em;
}
/* line 10, ../../sass/all/_layout.scss */
.container .item {
  margin: 0 10px;
}
/* line 13, ../../sass/all/_layout.scss */
.container .item1 {
  width: 60%;
}

/* line 3, ../../sass/all/_editor.scss */
#editor {
  overflow: auto;
  border: 1px solid silver;
  border-radius: 3px;
  min-height: 200px;
  box-shadow: inset 0 0 10px silver;
  padding: 1em;
}
/* line 11, ../../sass/all/_editor.scss */
#editor:focus {
  transition: border linear .2s,box-shadow linear .5s;
  border-color: rgba(39, 207, 195, 0.75);
  box-shadow: 0 0 15px rgba(39, 207, 195, 0.5);
}

/* line 18, ../../sass/all/_editor.scss */
.editor-group {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
/* line 24, ../../sass/all/_editor.scss */
.editor-group a {
  text-decoration: none;
  color: #333;
}
/* line 28, ../../sass/all/_editor.scss */
.editor-group a:hover {
  color: #27CFC3;
}
/* line 32, ../../sass/all/_editor.scss */
.editor-group a:active {
  color: #072321;
}
/* line 37, ../../sass/all/_editor.scss */
.editor-group .icon {
  margin: 2px;
  padding: 10px 12px;
  font-weight: bolder;
}

/* line 3, ../../sass/all/_buttons.scss */
.button-group {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
/* line 9, ../../sass/all/_buttons.scss */
.button-group .square-button {
  margin: 5px 10px;
  padding: 10px 12px;
  border-radius: 3px;
  border-color: #c62b2b;
  font-weight: bolder;
  box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.3);
}
/* line 18, ../../sass/all/_buttons.scss */
.button-group a {
  text-decoration: none;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
/* line 22, ../../sass/all/_buttons.scss */
.button-group a:active {
  text-shadow: none;
}
/* line 28, ../../sass/all/_buttons.scss */
.button-group .green {
  background-color: #50f072;
}
/* line 30, ../../sass/all/_buttons.scss */
.button-group .green:hover {
  background: #13e03f;
}
/* line 35, ../../sass/all/_buttons.scss */
.button-group .blue {
  background-color: #50aef0;
}
/* line 37, ../../sass/all/_buttons.scss */
.button-group .blue:hover {
  background: #138ce0;
}
/* line 42, ../../sass/all/_buttons.scss */
.button-group .red {
  background-color: #f05050;
}
/* line 44, ../../sass/all/_buttons.scss */
.button-group .red:hover {
  background: #e01313;
}
/* line 49, ../../sass/all/_buttons.scss */
.button-group .yellow {
  background-color: #f0df50;
}
/* line 51, ../../sass/all/_buttons.scss */
.button-group .yellow:hover {
  background: #e0ca13;
}
