@import"mixins";

$item-width:60%;
.container {
    @include flexbox;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3em;
    .item {
        margin: 0 10px;        
    }  
    .item1 {
        width: $item-width;
    }  
}
 
@import"media";